:root {
  --colors-neutral-50: #f2f2f3;
  --colors-neutral-100: #e6e7ea;
  --colors-neutral-200: #d9dade;
  --colors-neutral-300: #c4c4ca;
  --colors-neutral-400: #a2a2a9;
  --colors-neutral-500: #60606c;
  --colors-neutral-600: #444351;
  --colors-neutral-700: #333342;
  --colors-neutral-800: #262537;
  --colors-neutral-900: #191826;
  --colors-neutral-950: #0b0a0f;
  --colors-neutral-alpha-50-5: #f2f2f30d;
  --colors-neutral-alpha-50-10: #f2f2f31a;
  --colors-neutral-alpha-50-20: #f2f2f333;
  --colors-neutral-alpha-50-50: #f2f2f380;
  --colors-neutral-alpha-50-60: #f2f2f399;
  --colors-neutral-alpha-50-70: #f2f2f3cc;
  --colors-neutral-alpha-50-80: #f2f2f3cc;
  --colors-neutral-alpha-50-90: #f2f2f3e5;
  --colors-neutral-alpha-100-50: #e6e7ea80;
  --colors-neutral-alpha-900-10: #1918261a;
  --colors-neutral-alpha-900-15: #19182626;
  --colors-neutral-alpha-900-50: #19182680;
  --colors-neutral-alpha-900-70: #191826b2;
  --colors-neutral-alpha-900-80: #191826cc;
  --colors-neutral-alpha-900-90: #191826e5;
  --colors-neutral-alpha-950-5: #0b0a0f0d;
  --colors-neutral-alpha-950-10: #0b0a0f1a;
  --colors-neutral-alpha-950-20: #0b0a0f33;
  --colors-neutral-alpha-950-50: #0b0a0f80;
  --colors-brand-main-100: #f9a667;
  --colors-brand-main-200: #f68731;
  --colors-brand-main-300: #f56a00;
  --colors-brand-main-400: #c25400;
  --colors-brand-main-500: #944000;
  --colors-brand-main-alpha-300-0: #f56a0000;
  --colors-brand-main-alpha-300-1: #f56a0003;
  --colors-brand-main-alpha-300-5: #f56a000d;
  --colors-brand-main-alpha-300-10: #f56a001a;
  --colors-brand-main-alpha-300-20: #f56a0033;
  --colors-brand-main-alpha-300-90: #f56a00e5;
  --colors-brand-accent1-100: #bdbdff;
  --colors-brand-accent1-200: #8f8fff;
  --colors-brand-accent1-300: #6161ff;
  --colors-brand-accent1-400: #1a1aff;
  --colors-brand-accent1-500: #0000d1;
  --colors-brand-support-100: #bdbdff;
  --colors-brand-support-200: #8f8fff;
  --colors-brand-support-300: #6161ff;
  --colors-brand-support-400: #1a1aff;
  --colors-brand-support-500: #0000d1;
  --colors-brand-gradients-gradient-from: #6161ff;
  --colors-brand-gradients-gradient-to: #6161ff;
  --colors-brand-accent2-100: #8080ff;
  --colors-brand-accent2-200: #6161ff;
  --colors-brand-accent2-300: #1a1aff;
  --colors-brand-accent2-400: #0000c7;
  --colors-brand-accent2-500: #000099;
  --numbers-radius-button: {numbers.radius.rounded};
  --numbers-radius-input: {numbers.radius.rounded};
  --numbers-radius-xl: {numbers.radius.rounded-2xl};
  --numbers-radius-lg: {numbers.radius.rounded-lg};
  --numbers-radius-md: {numbers.radius.rounded-md};
  --numbers-radius-sm: {numbers.radius.rounded};
  --numbers-radius-2xl: {numbers.radius.rounded-3xl};
  --numbers-radius-xs: {numbers.radius.rounded-sm};
  --numbers-radius-2xs: {numbers.radius.rounded-sm};
  --typography-font-family: Inter;
  --components-button-gradient-bg1: #6161ff;
  --components-button-gradient-bg2: #6161ff;
  --components-button-gradient-bg-hover1: #8f8fff;
  --components-button-gradient-bg-hover2: #8f8fff;
  --components-button-gradient-fg: {colors.white.white};
  --components-button-gradient-fg-hover: {colors.white.white};
  --components-button-outlined-bg: #ffffff00;
  --components-button-outlined-bg-hover: #ffffff00;
  --components-button-outlined-fg: #1a1aff;
  --components-button-outlined-border: #1a1aff;
  --components-button-outlined-fg-hover: #6161ff;
  --components-button-ghost-fg: #1a1aff;
  --components-button-ghost-bg-hover: {bg.secondary.hover};
  --components-button-ghost-fg-hover: #0000d1;
  --components-button-custom-fg: {colors.white.white};
  --components-button-custom-bg: #f56a00;
  --components-button-custom-bg-hover: #c25400;
  --components-icons-primary-default: #6161ff;
  --components-icons-primary-default-fade: #6161ff;
  --components-icons-primary-darkmode: #d9dade;
  --components-icons-primary-darkmode-fade: #d9dade;
  --components-icons-secondary-default: #bdbdff;
  --components-icons-secondary-default-fade: #bdbdff;
  --components-icons-secondary-darkmode: #bdbdff;
  --components-icons-secondary-darkmode-gradient: #bdbdff;
  --components-icons-feedback-alert: #60606c;
  --components-icons-feedback-warning: #60606c;
  --components-icons-feedback-success: #60606c;
  --components-icons-feedback-info: #60606c;
  --components-other-bg-notification: #f56a00;
  --components-other-bg-logo: #ffffff;
}
