// Generated SCSS Variables

$fg-primary-default: {colors.neutral.100};

$fg-tertiary-default: {colors.neutral.400};

$fg-feedback-alert-default: {colors.red.alpha.200.90};

$fg-feedback-alert-subtle: {colors.red.50};

$fg-feedback-warning-default: {colors.yellow.alpha.200.90};

$fg-feedback-warning-subtle: {colors.yellow.100};

$fg-feedback-success-default: {colors.green.alpha.200.80};

$fg-feedback-success-subtle: {colors.green.100};

$fg-feedback-info-default: {colors.blue.100};

$fg-feedback-info-subtle: {colors.blue.100};

$fg-secondary-default: {colors.neutral.300};

$fg-disabled-default: {colors.neutral.500};

$fg-placeholder-default: {colors.neutral.400};

$fg-brand-gradient-from: {colors.brand.gradients.gradient-from};

$fg-brand-gradient-to: {colors.brand.gradients.gradient-to};

$fg-brand-default: {colors.brand.main.300};

$fg-inverse-default: {colors.neutral.950};

$border-secondary: {colors.neutral.600};

$border-primary: {colors.neutral.700};

$border-disabled: {colors.neutral.700};

$border-feedback-alert-default: {colors.brand.main.400};

$border-feedback-alert-subtle: {fg.feedback.alert.default};

$border-feedback-info-default: {colors.blue.400};

$border-feedback-info-subtle: {fg.feedback.info.default};

$border-feedback-warning-default: {colors.yellow.400};

$border-feedback-warning-subtle: {fg.feedback.warning.default};

$border-feedback-success-default: {colors.green.400};

$border-feedback-success-subtle: {fg.feedback.success.default};

$border-disabled-alt: {colors.neutral.600};

$border-primary-active: {colors.neutral.600};

$border-secondary-active: {colors.neutral.500};

$border-primary-active-alt: {colors.neutral.400};

$border-placeholder: {colors.neutral.400};

$border-fade: {colors.neutral.alpha.50.10};

$border-fade-gradient: {colors.white.alpha.50};

$border-fade-gradient-to: {colors.white.alpha.0};

$bg-feedback-alert-base: {colors.red.100};

$bg-feedback-alert-soft: {colors.red.alpha.300.30};

$bg-feedback-alert-strong: {colors.red.500};

$bg-feedback-warning-soft: {colors.yellow.alpha.300.30};

$bg-feedback-warning-base: {colors.yellow.100};

$bg-feedback-warning-strong: {colors.yellow.500};

$bg-feedback-success-soft: {colors.green.alpha.300.30};

$bg-feedback-success-base: {colors.green.alpha.300.50};

$bg-feedback-success-strong: {colors.green.500};

$bg-feedback-info-soft: {colors.blue.alpha.300.30};

$bg-feedback-info-base: {colors.blue.300};

$bg-feedback-info-strong: {colors.blue.500};

$bg-disabled-default: {colors.white.alpha.20};

$bg-disabled-muted: {colors.neutral.alpha.50.20};

$bg-secondary-default: {colors.neutral.900};

$bg-secondary-hover: {colors.neutral.800};

$bg-secondary-active: {colors.neutral.700};

$bg-secondary-alpha-50: {colors.neutral.alpha.900.80};

$bg-secondary-alpha-80: {colors.neutral.alpha.900.80};

$bg-overlay-default: {colors.white.alpha.20};

$bg-overlay-light: {colors.white.alpha.10};

$bg-overlay-dark: {colors.white.alpha.70};

$bg-overlay-lightest: {colors.white.alpha.2};

$bg-tertiary-default: {colors.neutral.800};

$bg-tertiary-active: {colors.neutral.700};

$bg-tertiary-hover: {colors.neutral.700};

$bg-primary-active: {colors.neutral.800};

$bg-primary-default: {colors.neutral.950};

$bg-primary-alpha-50: {colors.neutral.alpha.900.50};

$bg-primary-alpha-70: {colors.neutral.alpha.900.70};

$bg-primary-alpha-90: {colors.neutral.alpha.900.90};

$bg-primary-hover: {colors.neutral.900};

$bg-primary-active-alt: {colors.neutral.600};

$bg-placeholder-default: {colors.neutral.900};

$bg-quaternary-default: {colors.neutral.700};

$bg-quaternary-hover: {colors.neutral.700};

$bg-quaternary-active: {colors.neutral.700};

$bg-brand-primary: {colors.brand.main.300};

$bg-brand-support: {colors.brand.support.300};

$bg-brand-accent: {colors.brand.accent1.300};

$bg-brand-accent 2: {colors.brand.accent2.300};

$bg-inverse-default: {colors.white.white};

$bg-inverse-alpha-70: {colors.neutral.alpha.50.70};

$effects-shadows-xl: {colors.neutral.alpha.50.50};

$effects-shadows-lg: {colors.neutral.alpha.50.20};

$effects-shadows-md: {colors.neutral.alpha.50.10};

$effects-shadows-sm: {colors.neutral.alpha.50.5};

$icons-primary-default: {components.icons.primary.darkmode};

$icons-primary-default-fade: {components.icons.primary.darkmode-fade};

$icons-secondary-defaultnew: {components.icons.secondary.darkmode};

$icons-secondary-default-fadenew: {components.icons.secondary.darkmode-gradient};

