// Generated SCSS Variables

$colors-neutral-50: #f6f5f4;

$colors-neutral-100: #f0ecea;

$colors-neutral-200: #e1dbd6;

$colors-neutral-300: #ccc2b8;

$colors-neutral-400: #938c85;

$colors-neutral-500: #827d78;

$colors-neutral-600: #5f5854;

$colors-neutral-700: #47423e;

$colors-neutral-800: #37322f;

$colors-neutral-900: #282320;

$colors-neutral-950: #1f1b19;

$colors-neutral-alpha-50-5: #f6f5f40d;

$colors-neutral-alpha-50-10: #f6f5f41a;

$colors-neutral-alpha-50-20: #f6f5f433;

$colors-neutral-alpha-50-50: #f6f5f480;

$colors-neutral-alpha-50-60: #f6f5f4b2;

$colors-neutral-alpha-50-70: #f6f5f4b2;

$colors-neutral-alpha-50-80: #f6f5f4cc;

$colors-neutral-alpha-50-90: #f6f5f4e5;

$colors-neutral-alpha-100-50: #f0ecea80;

$colors-neutral-alpha-900-10: #2823201a;

$colors-neutral-alpha-900-15: #28232026;

$colors-neutral-alpha-900-50: #28232080;

$colors-neutral-alpha-900-70: #282320b2;

$colors-neutral-alpha-900-80: #282320e5;

$colors-neutral-alpha-900-90: #282320e5;

$colors-neutral-alpha-950-5: #1f1b190d;

$colors-neutral-alpha-950-10: #1f1b191a;

$colors-neutral-alpha-950-20: #1f1b1933;

$colors-neutral-alpha-950-50: #1f1b1980;

$colors-brand-main-100: #6e78b4;

$colors-brand-main-200: #404c9c;

$colors-brand-main-300: #0f1e80;

$colors-brand-main-400: #0c1969;

$colors-brand-main-500: #07094b;

$colors-brand-main-alpha-300-0: #0f1e8000;

$colors-brand-main-alpha-300-1: #0f1e8003;

$colors-brand-main-alpha-300-5: #0f1e800d;

$colors-brand-main-alpha-300-10: #0f1e801a;

$colors-brand-main-alpha-300-20: #0f1e8033;

$colors-brand-main-alpha-300-90: #0f1e80e5;

$colors-brand-accent1-100: #c0ecf2;

$colors-brand-accent1-200: #92dee8;

$colors-brand-accent1-300: #68d1df;

$colors-brand-accent1-400: #31c0d3;

$colors-brand-accent1-500: #2291a0;

$colors-brand-support-100: #c0ecf2;

$colors-brand-support-200: #92dee8;

$colors-brand-support-300: #68d1df;

$colors-brand-support-400: #31c0d3;

$colors-brand-support-500: #2291a0;

$colors-brand-gradients-gradient-from: #404c9c;

$colors-brand-gradients-gradient-to: #0f1e80;

$colors-brand-accent2-100: #c0ecf2;

$colors-brand-accent2-200: #92dee8;

$colors-brand-accent2-300: #68d1df;

$colors-brand-accent2-400: #31c0d3;

$colors-brand-accent2-500: #2291a0;

$numbers-radius-button: {numbers.radius.rounded-full};

$numbers-radius-input: {numbers.radius.rounded-full};

$numbers-radius-xl: {numbers.radius.rounded-2xl};

$numbers-radius-lg: {numbers.radius.rounded-2xl};

$numbers-radius-md: {numbers.radius.rounded-xl};

$numbers-radius-sm: {numbers.radius.rounded-lg};

$numbers-radius-2xl: {numbers.radius.rounded-4xl};

$numbers-radius-xs: {numbers.radius.rounded};

$numbers-radius-2xs: {numbers.radius.rounded};

$typography-font-family: String value;

$components-button-gradient-bg1: #404c9c;

$components-button-gradient-bg2: #0f1e80;

$components-button-gradient-bg-hover1: #0f1e80;

$components-button-gradient-bg-hover2: #404c9c;

$components-button-gradient-fg: {colors.white.white};

$components-button-gradient-fg-hover: {colors.white.white};

$components-button-outlined-bg: #ffffff00;

$components-button-outlined-bg-hover: #0f1e80;

$components-button-outlined-fg: #0f1e80;

$components-button-outlined-border: #0f1e80;

$components-button-outlined-fg-hover: #0f1e80;

$components-button-ghost-fg: #ffffff;

$components-button-ghost-bg-hover: #ffffff;

$components-button-ghost-fg-hover: #ffffff;

$components-button-custom-fg: #ffffff;

$components-button-custom-bg: #ffffff;

$components-button-custom-bg-hover: #ffffff;

$components-icons-primary-default: #0f1e80;

$components-icons-primary-default-fade: #0f1e80;

$components-icons-primary-darkmode: #e1dbd6;

$components-icons-primary-darkmode-fade: #e1dbd6;

$components-icons-secondary-default: #0f1e80;

$components-icons-secondary-default-fade: #0f1e80;

$components-icons-secondary-darkmode: #e1dbd6;

$components-icons-secondary-darkmode-gradient: #e1dbd6;

$components-icons-feedback-alert: #827d78;

$components-icons-feedback-warning: #827d78;

$components-icons-feedback-success: #827d78;

$components-icons-feedback-info: #827d78;

$components-other-bg-notification: #827d78;

$components-other-bg-logo: #ffffff;

