// Generated SCSS Variables

$typography-font-weight-light: 300;

$typography-font-weight-regular: 400;

$typography-font-weight-semibold: 600;

$typography-font-weight-bold: 700;

$typography-font-size-5xl: 48;

$typography-font-size-3xl: 30;

$typography-font-size-2xl: 24;

$typography-font-size-xl: 20;

$typography-font-size-md: 16;

$typography-font-size-sm: 14;

$typography-font-size-xs: 12;

$typography-font-size-2xs: 10;

$typography-font-size-lg: 18;

$typography-font-size-7xl: 74;

$typography-font-size-4xl: 36;

$typography-font-size-6xl: 60;

$typography-letter-spacing-tightest: -1.5;

$typography-letter-spacing-tighter: -0.5;

$typography-letter-spacing-normal: 0;

$typography-letter-spacing-wide: 0.25;

$typography-letter-spacing-wider: 0.5;

$typography-letter-spacing-widest: 1;

$typography-letter-spacing-tight: -0.25;

$numbers-spacing-0: 0;

$numbers-spacing-1: 4;

$numbers-spacing-2: 8;

$numbers-spacing-3: 12;

$numbers-spacing-4: 16;

$numbers-spacing-5: 20;

$numbers-spacing-6: 24;

$numbers-spacing-7: 28;

$numbers-spacing-8: 32;

$numbers-spacing-9: 36;

$numbers-spacing-10: 40;

$numbers-spacing-11: 44;

$numbers-spacing-12: 48;

$numbers-spacing-14: 56;

$numbers-spacing-16: 64;

$numbers-spacing-20: 80;

$numbers-spacing-24: 96;

$numbers-spacing-28: 112;

$numbers-spacing-32: 128;

$numbers-spacing-36: 144;

$numbers-spacing-40: 160;

$numbers-spacing-0,5: 2;

$numbers-spacing-1,5: 6;

$numbers-spacing-px: 1;

$numbers-spacing-3,5: 14;

$numbers-spacing-2,5: 8;

$numbers-screens-2xs: 320;

$numbers-screens-xs: 384;

$numbers-screens-sm: 640;

$numbers-screens-md: 768;

$numbers-screens-lg: 1024;

$numbers-screens-xl: 1280;

$numbers-screens-2xl: 1440;

$numbers-screens-3xl: 1600;

$numbers-screens-4xl: 1920;

$numbers-radius-rounded-none: 0;

$numbers-radius-rounded-sm: 2;

$numbers-radius-rounded: 4;

$numbers-radius-rounded-md: 6;

$numbers-radius-rounded-lg: 8;

$numbers-radius-rounded-xl: 12;

$numbers-radius-rounded-2xl: 16;

$numbers-radius-rounded-3xl: 24;

$numbers-radius-rounded-full: 9999;

$numbers-radius-rounded-4xl: 32;

$colors-yellow-50: #fffbeb;

$colors-yellow-100: #fdf4c4;

$colors-yellow-200: #fbe58e;

$colors-yellow-300: #f8d330;

$colors-yellow-400: #d1ad0a;

$colors-yellow-500: #77620d;

$colors-yellow-alpha-200-90: #fbe58ee5;

$colors-yellow-alpha-300-30: #f8d3304d;

$colors-green-50: #f3fcf6;

$colors-green-100: #d5f6e1;

$colors-green-200: #a3ebbc;

$colors-green-300: #53d580;

$colors-green-400: #419b5f;

$colors-green-500: #326c44;

$colors-green-alpha-200-80: #a3ebbccc;

$colors-green-alpha-300-30: #53d5804d;

$colors-green-alpha-300-50: #53d58080;

$colors-blue-50: #f0f6ff;

$colors-blue-100: #deebfc;

$colors-blue-200: #8ab6f4;

$colors-blue-300: #478beb;

$colors-blue-400: #2265c3;

$colors-blue-500: #1b447e;

$colors-blue-alpha-200-90: #8ab6f4e5;

$colors-blue-alpha-300-30: #478beb4d;

$colors-red-50: #fee7e7;

$colors-red-100: #fccfcf;

$colors-red-200: #f78787;

$colors-red-300: #f34949;

$colors-red-400: #c41212;

$colors-red-500: #911212;

$colors-red-alpha-200-90: #f78787e5;

$colors-red-alpha-300-30: #f349494d;

$colors-black-alpha-2: #00000005;

$colors-black-alpha-5: #0000000d;

$colors-black-alpha-10: #0000001a;

$colors-black-alpha-20: #00000033;

$colors-black-alpha-30: #0000004d;

$colors-black-alpha-40: #00000066;

$colors-black-alpha-50: #00000080;

$colors-black-alpha-60: #00000099;

$colors-black-alpha-70: #000000b2;

$colors-black-alpha-80: #000000cc;

$colors-black-alpha-90: #000000e5;

$colors-black-alpha-95: #000000f2;

$colors-black-black: #000000;

$colors-white-alpha-0: #ffffff00;

$colors-white-alpha-2: #ffffff05;

$colors-white-alpha-5: #ffffff0d;

$colors-white-alpha-10: #ffffff1a;

$colors-white-alpha-20: #ffffff33;

$colors-white-alpha-30: #ffffff4d;

$colors-white-alpha-40: #ffffff66;

$colors-white-alpha-50: #ffffff80;

$colors-white-alpha-60: #ffffff99;

$colors-white-alpha-70: #ffffffb2;

$colors-white-alpha-80: #ffffffcc;

$colors-white-alpha-90: #ffffffe5;

$colors-white-alpha-95: #fffffff2;

$colors-white-white: #ffffff;

