/* Sidebar Toggle Button Styles */

.sidebar-toggle {
  width: 32px;
  color: var(--color-gray-600);
  height: 32px;
  padding: 0px;
  background-color: transparent;
}

.sidebar-toggle:hover {
  background-color: var(--color-gray-200);
  color: var(--color-gray-800);
}