// Generated SCSS Variables

$colors-neutral-50: #f4f6f8;

$colors-neutral-100: #e6ebf0;

$colors-neutral-200: #d4dfe2;

$colors-neutral-300: #c1ced2;

$colors-neutral-400: #809aa3;

$colors-neutral-500: #587179;

$colors-neutral-600: #273e49;

$colors-neutral-700: #20323c;

$colors-neutral-800: #141f24;

$colors-neutral-900: #0e161b;

$colors-neutral-950: #070b0d;

$colors-neutral-alpha-50-5: #f3f5f70d;

$colors-neutral-alpha-50-10: #f3f5f71a;

$colors-neutral-alpha-50-20: #f3f5f733;

$colors-neutral-alpha-50-50: #f3f5f780;

$colors-neutral-alpha-50-60: #f3f5f799;

$colors-neutral-alpha-50-70: #f3f5f7b2;

$colors-neutral-alpha-50-80: #f3f5f7cc;

$colors-neutral-alpha-50-90: #f3f5f7e5;

$colors-neutral-alpha-100-50: #e6ebf080;

$colors-neutral-alpha-900-10: #10191e1a;

$colors-neutral-alpha-900-15: #10191e26;

$colors-neutral-alpha-900-50: #10191e80;

$colors-neutral-alpha-900-70: #10191eb2;

$colors-neutral-alpha-900-80: #10191ecc;

$colors-neutral-alpha-900-90: #10191ee5;

$colors-neutral-alpha-950-5: #070b0d0d;

$colors-neutral-alpha-950-10: #070b0d1a;

$colors-neutral-alpha-950-20: #070b0d33;

$colors-neutral-alpha-950-50: #070b0d80;

$colors-brand-main-100: #cb7c82;

$colors-brand-main-200: #b95059;

$colors-brand-main-300: #a8242f;

$colors-brand-main-400: #861d26;

$colors-brand-main-500: #64161d;

$colors-brand-main-alpha-300-0: #a8242f00;

$colors-brand-main-alpha-300-1: #a8242f03;

$colors-brand-main-alpha-300-5: #a8242f0d;

$colors-brand-main-alpha-300-10: #a8242f1a;

$colors-brand-main-alpha-300-20: #a8242f33;

$colors-brand-main-alpha-300-90: #a8242fe5;

$colors-brand-accent1-100: #bad9d5;

$colors-brand-accent1-200: #7fb8b2;

$colors-brand-accent1-300: #5ea69e;

$colors-brand-accent1-400: #4b867f;

$colors-brand-accent1-500: #3a645f;

$colors-brand-support-100: #7f9aa3;

$colors-brand-support-200: #546f7a;

$colors-brand-support-300: #294350;

$colors-brand-support-400: #223944;

$colors-brand-support-500: #19282f;

$colors-brand-gradients-gradient-from: #bd1f2e;

$colors-brand-gradients-gradient-to: #882059;

$colors-brand-accent2-100: #fef0d8;

$colors-brand-accent2-200: #fcdda6;

$colors-brand-accent2-300: #fac974;

$colors-brand-accent2-400: #f8b644;

$colors-brand-accent2-500: #f7a313;

$numbers-radius-button: {numbers.radius.rounded-full};

$numbers-radius-input: {numbers.radius.rounded-lg};

$numbers-radius-xl: {numbers.radius.rounded-3xl};

$numbers-radius-lg: {numbers.radius.rounded-2xl};

$numbers-radius-md: {numbers.radius.rounded-xl};

$numbers-radius-sm: {numbers.radius.rounded-lg};

$numbers-radius-2xl: {numbers.radius.rounded-4xl};

$numbers-radius-xs: {numbers.radius.rounded};

$numbers-radius-2xs: {numbers.radius.rounded-sm};

$typography-font-family: Inter;

$components-button-gradient-bg1: #bd1f2e;

$components-button-gradient-bg2: #882059;

$components-button-gradient-bg-hover1: #882059;

$components-button-gradient-bg-hover2: #bd1f2e;

$components-button-gradient-fg: {colors.white.white};

$components-button-gradient-fg-hover: {colors.white.white};

$components-button-outlined-bg: #20323c;

$components-button-outlined-bg-hover: #20323c;

$components-button-outlined-fg: #a8242f;

$components-button-outlined-border: #a8242f;

$components-button-outlined-fg-hover: #20323c;

$components-button-ghost-fg: #20323c;

$components-button-ghost-bg-hover: {bg.primary.hover};

$components-button-ghost-fg-hover: #20323c;

$components-button-custom-fg: #20323c;

$components-button-custom-bg: #20323c;

$components-button-custom-bg-hover: {bg.tertiary.hover};

$components-icons-primary-default: #20323c;

$components-icons-primary-default-fade: #20323c00;

$components-icons-primary-darkmode: #f4f6f8;

$components-icons-primary-darkmode-fade: #f4f6f800;

$components-icons-secondary-default: #a8242f;

$components-icons-secondary-default-fade: #a8242f00;

$components-icons-secondary-darkmode: #a8242f;

$components-icons-secondary-darkmode-gradient: #a8242f00;

$components-icons-feedback-alert: #587179;

$components-icons-feedback-warning: #587179;

$components-icons-feedback-success: #587179;

$components-icons-feedback-info: #587179;

$components-other-bg-notification: #a8242f;

$components-other-bg-logo: #ffffff;

