:root {
  --fg-primary-default: {colors.neutral.950};
  --fg-tertiary-default: {colors.neutral.500};
  --fg-feedback-alert-default: {colors.red.500};
  --fg-feedback-alert-subtle: {colors.red.100};
  --fg-feedback-warning-default: {colors.yellow.500};
  --fg-feedback-warning-subtle: {colors.yellow.200};
  --fg-feedback-success-default: {colors.green.500};
  --fg-feedback-success-subtle: {colors.green.200};
  --fg-feedback-info-default: {colors.blue.500};
  --fg-feedback-info-subtle: {colors.blue.100};
  --fg-secondary-default: {colors.neutral.700};
  --fg-disabled-default: {colors.neutral.300};
  --fg-placeholder-default: {colors.neutral.400};
  --fg-brand-gradient-from: {colors.brand.gradients.gradient-from};
  --fg-brand-gradient-to: {colors.brand.gradients.gradient-to};
  --fg-brand-default: {colors.brand.main.300};
  --fg-inverse-default: {colors.white.white};
  --border-secondary: {colors.neutral.300};
  --border-primary: {colors.neutral.200};
  --border-disabled: {colors.neutral.200};
  --border-feedback-alert-default: {colors.brand.main.100};
  --border-feedback-alert-subtle: {fg.feedback.alert.default};
  --border-feedback-info-default: {colors.blue.100};
  --border-feedback-info-subtle: {fg.feedback.info.default};
  --border-feedback-warning-default: {colors.yellow.100};
  --border-feedback-warning-subtle: {fg.feedback.warning.default};
  --border-feedback-success-default: {colors.green.100};
  --border-feedback-success-subtle: {fg.feedback.success.default};
  --border-disabled-alt: {colors.neutral.300};
  --border-primary-active: {colors.neutral.300};
  --border-secondary-active: {colors.neutral.400};
  --border-primary-active-alt: {colors.neutral.900};
  --border-placeholder: {colors.neutral.400};
  --border-fade: {colors.neutral.alpha.900.15};
  --border-fade-gradient: {colors.neutral.alpha.900.50};
  --border-fade-gradient-to: {colors.neutral.alpha.900.10};
  --bg-feedback-alert-base: {colors.red.300};
  --bg-feedback-alert-soft: {colors.red.50};
  --bg-feedback-alert-strong: {colors.red.500};
  --bg-feedback-warning-soft: {colors.yellow.100};
  --bg-feedback-warning-base: {colors.yellow.300};
  --bg-feedback-warning-strong: {colors.yellow.500};
  --bg-feedback-success-soft: {colors.green.100};
  --bg-feedback-success-base: {colors.green.300};
  --bg-feedback-success-strong: {colors.green.500};
  --bg-feedback-info-soft: {colors.blue.100};
  --bg-feedback-info-base: {colors.blue.300};
  --bg-feedback-info-strong: {colors.blue.500};
  --bg-disabled-default: {colors.neutral.50};
  --bg-disabled-muted: {colors.neutral.alpha.900.10};
  --bg-secondary-default: {colors.white.white};
  --bg-secondary-hover: {colors.neutral.50};
  --bg-secondary-active: {colors.neutral.100};
  --bg-secondary-alpha-50: {colors.white.alpha.50};
  --bg-secondary-alpha-80: {colors.white.alpha.90};
  --bg-overlay-default: {colors.black.alpha.20};
  --bg-overlay-light: {colors.black.alpha.10};
  --bg-overlay-dark: {colors.black.alpha.70};
  --bg-overlay-lightest: {colors.black.alpha.2};
  --bg-tertiary-default: {colors.neutral.100};
  --bg-tertiary-active: {colors.neutral.300};
  --bg-tertiary-hover: {colors.neutral.200};
  --bg-primary-active: {colors.neutral.200};
  --bg-primary-default: {colors.neutral.50};
  --bg-primary-alpha-50: {colors.neutral.alpha.50.50};
  --bg-primary-alpha-70: {colors.neutral.alpha.50.70};
  --bg-primary-alpha-90: {colors.neutral.alpha.50.90};
  --bg-primary-hover: {colors.neutral.100};
  --bg-primary-active-alt: {colors.neutral.600};
  --bg-placeholder-default: {colors.neutral.50};
  --bg-quaternary-default: {colors.neutral.200};
  --bg-quaternary-hover: {colors.neutral.300};
  --bg-quaternary-active: {colors.neutral.400};
  --bg-brand-primary: {colors.brand.main.300};
  --bg-brand-support: {colors.brand.support.300};
  --bg-brand-accent: {colors.brand.accent1.300};
  --bg-brand-accent 2: {colors.brand.accent2.300};
  --bg-inverse-default: {colors.neutral.900};
  --bg-inverse-alpha-70: {colors.neutral.alpha.900.70};
  --effects-shadows-xl: {colors.neutral.alpha.950.50};
  --effects-shadows-lg: {colors.neutral.alpha.950.20};
  --effects-shadows-md: {colors.neutral.alpha.950.10};
  --effects-shadows-sm: {colors.neutral.alpha.950.5};
  --icons-primary-default: {components.icons.primary.default};
  --icons-primary-default-fade: {components.icons.primary.default-fade};
  --icons-secondary-defaultnew: {components.icons.secondary.default};
  --icons-secondary-default-fadenew: {components.icons.secondary.darkmode-gradient};
}
